<div class="dashboard-layout">
  <aside class="dashboard-sidebar">
    <div class="sidebar-header">
      <span class="sidebar-logo">Nayborly</span>
    </div>
    <nav class="sidebar-nav">
      <a [routerLink]="'/'" routerLinkActive="active">Return to Home</a>
      <a [routerLink]="APP_ROUTES.PROFILE.DASHBOARD_VIEW.OVERVIEW" routerLinkActive="active">Overview</a>
      <a [routerLink]="APP_ROUTES.PROFILE.DASHBOARD_VIEW.USERS" routerLinkActive="active">Users</a>
      <a [routerLink]="APP_ROUTES.PROFILE.DASHBOARD_VIEW.POSTS" routerLinkActive="active">Posts</a>
      <a [routerLink]="APP_ROUTES.PROFILE.DASHBOARD_VIEW.CONTACT_MESSAGES" routerLinkActive="active">Contact
        Messages</a>
    </nav>
    <button (click)="logout()" class="sidebar-logout">Log Out</button>
  </aside>
  <main class="dashboard-content">
    <router-outlet></router-outlet>
  </main>
</div>
