<!-- Professional, animated, and modern Navbar -->
<header class="navbar">
  <div class="navbar-container">
    <a (click)="closeMenu()" class="navbar-logo animated-logo" routerLink="/">
      <img alt="Nayborly Logo" class="navbar-logo-img" height="60" ngSrc="/favicon.svg" width="230"/> Nayborly
    </a>
    <button
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuOpen"
      [attr.aria-label]="menuOpen ? 'Close menu' : 'Open menu'"
      [class.active]="menuOpen"
      class="navbar-toggle"
      type="button"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <nav [class.active]="menuOpen" class="navbar-links">
      <ul>
        <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.INTRO.HOME">Home</a></li>
        <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.LISTINGS.LIST">Listings</a></li>
        <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.INTRO.ABOUT">About</a></li>
        <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.INTRO.CONTACT">Contact</a></li>
        <li *ngIf="isLoggedIn()" class="mobile-only profile-link"><a (click)="closeMenu()"
                                                                     [routerLink]="APP_ROUTES.PROFILE.PROFILE">Profile</a>
        </li>
      </ul>
    </nav>
    <div (mouseenter)="onDropdownEnter()"
         (mouseleave)="onDropdownLeave()"
         class="navbar-auth desktop-only profile-dropdown">
      <a [routerLink]="APP_ROUTES.PROFILE.PROFILE" class="navbar-profile" title="Your Profile">
        <img *ngIf="isLoggedIn() && userAvatarUrl; else defaultAvatar" [src]="userAvatarUrl" alt="Profile" class="navbar-profile-img" height="60" width="60"/>
        <ng-template #defaultAvatar>
          <img alt="Profile" class="navbar-profile-img" height="60" width="60" ngSrc="/favicon.svg"/>
        </ng-template>
      </a>
      <ul (mouseenter)="onDropdownEnter()" (mouseleave)="onDropdownLeave()" [class.open]="showDropdown"
          class="dropdown-menu">
        <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.PROFILE.PROFILE">Profile</a></li>
        <ng-container *ngIf="isLoggedIn()">
          <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.PROFILE.PROFILE + '/' + APP_ROUTES.PROFILE.DASHBOARD">Dashboard</a>
          </li>
          <li><a (click)="logout()">Log Out</a></li>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn()">
          <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.AUTH.AUTH +'/'+ APP_ROUTES.AUTH.SIGN_IN">Sign In</a>
          </li>
          <li><a (click)="closeMenu()" [routerLink]="APP_ROUTES.AUTH.AUTH +'/'+ APP_ROUTES.AUTH.SIGN_UP">Sign Up</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</header>
