<h2 mat-dialog-title>Edit User</h2>
<form (ngSubmit)="onSave()" [formGroup]="form" mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role" required>
      <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" required>
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Joined Date</mat-label>
    <input formControlName="createdAt" matInput required/>
  </mat-form-field>

  <div align="end" mat-dialog-actions>
    <button (click)="onCancel()" mat-button type="button">Cancel</button>
    <button [disabled]="form.invalid" color="primary" mat-flat-button type="submit">Save</button>
  </div>
</form>

